*{
    padding: 0px;
    margin: 0px;
}
body {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    background: rgb(247, 247, 247);
}

/* navbar */
div h3{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 11px;
    padding-right: 186px;
}
.navbar-brand{
    width: auto;
    height: 102px;
    display: flex;
    justify-content: center;
    /* justify-content: space-around; */
    align-items: center;
    gap: 10;
    margin: 0px;
}

.navbar{
    display: flex;
    justify-content: space-around;   
}
.nav-list{
    gap: 32;
    display: flex;
    align-items: center;
}

.nav-item  {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a{
    color: black;
    text-decoration: none;
}

.logo-image{
    position: relative;
    width: 62px;
    height: 62px;
}

.home{
    color: rgb(254, 163, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.about{
    color: rgb(1, 172, 253);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.facilites{
    color: rgb(5, 212, 223);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.admission{
    color: rgb(93, 88, 239);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.contact{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

/* shared styles */

.display-flex{
    display: flex;
}


/* buttons */

.primary-btn{
    font-family: "Quicksand", serif;
    background: rgb(254, 163, 1);
    border: none;
    border-radius: 12px;
    width: 197px;
    height: 50px;
}   

.btn-2{
    width: 197px;
    height: 50px;
    margin: 24px 0px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    border: none;
}
.btn-2 span {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin: 0px 10px;
    padding: 10px;
}


/* banner */

.banner{
    display: flex;
    position: absolute;
    width: 1158.61px;
    height: 575px;
    left: 141px;
    top: 100px;
    align-items: center;
    gap: 50;
    padding: 0px;
}

.banner-box{
    position: static;
    width: 640px;
    height: 331px;
    margin: 0px 50px;
}

.banner-heading{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    text-align: left;
}

.banner-title{
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}

.orange{
    color: rgb(254, 163, 1);
}

.blue{
    color: rgb(1, 172, 253);
}

